## Dependencies

In [8]:
import pandas as pd 
from google.cloud import firestore

Copy from your spreadsheet all grades data, it should contain the following columns:
-student_name
-student_id
-grade
-course
-university

Example: 

student_name	student_id	grade	subject	university
JANE DOE	123456	9.7	calculus	MIT
JOHN DOE	78910	9.8	physics	MIT

## Read data

In [9]:
data = pd.read_clipboard()
data.head()

,student_name,student_id,grade,course,university
0,JUAN PEREZ,123456,9.9,programaci贸n paralela y concurrente,UNAM
1,JOSE FUENTES,123,9.9,programaci贸n paralela y concurrente,UNAM
2,MARIELA DOMINGUEZ,345,10.0,aprendizaje supervisado,UNAM
3,DENISE GARCIA,789,10.0,aprendizaje supervisado,UNAM

## Write to Firestore

In [11]:
def write_to_firestore(data):
    db = firestore.Client()
    batch = db.batch()

    for index, row in data.iterrows():
        doc_ref = db.collection(row['university']).document(str(row['student_id']))
        batch.set(doc_ref, {
            'student_name': row['student_name'],
            'grades': {
                    row['course']: {
                        'grade': row['grade']
                    }
            }
        }, merge=True)  

    batch.commit()

In [12]:
write_to_firestore(data)